.react-flow__edges,
.react-flow__edgelabel-renderer {
    z-index: 10;
}

.dndflow {
    height: 100svh;
    width: 100%;
}

.dndflow aside {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 1px solid #eee;
    margin: 15px;
    padding: 15px;
    font-size: 12px;
    background: #fcfcfc;
    user-select: none;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .dndnode {
    height: 25px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.dndflow .dndnode.stage {
    border-color: #704af2;
    background-color: rgba(207, 182, 255, 0.4);
}

.dndflow .dndnode.process {
    background-color: white;
    border-color: #f57dbd;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.dndflow .selectall {
    margin-top: 10px;
}

/* CUSTOM THEMING */
.react-flow {
    /* Custom Variables */
    --xy-theme-selected: #f57dbd;
    --xy-theme-hover: #c5c5c5;
    --xy-theme-color-focus: #e8e8e8;
    --xy-edge-stroke-default: rgb(61, 105, 203);
    --xy-theme-edge-hover: black;

    /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
    --xy-node-border-default: 1px solid #ededed;

    --xy-node-boxshadow-default: 0px 3.54px 4.55px 0px #00000005,
        0px 3.54px 4.55px 0px #0000000d, 0px 0.51px 1.01px 0px #0000001a;

    --xy-node-border-radius-default: 8px;

    --xy-handle-background-color-default: #ededed;
    --xy-handle-border-color-default: rgba(0, 57, 173, 0.8);

    --xy-edge-label-color-default: #505050;
}

.react-flow.dark {
    --xy-node-boxshadow-default: 0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
        /* light shadow */ 0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
        /* medium shadow */ 0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2); /* smallest shadow */
    --xy-theme-color-focus: #535353;
}

/* Customizing Default Theming */

.react-flow__node {
    border-radius: var(--xy-node-border-radius-default);
    background-color: var(--xy-node-background-color-default);
    text-align: center;
    padding: 15px 20px;
    font-size: 12px;
    border: var(--xy-node-border-default);
    border-color: var(--xy-theme-selected);
    color: #cb458d;
}

/*
this is styling for a
process react-flow-node
which is not a descendant of any stage
*/

.independent-process-node {
    background-color: #fff0f5;
}

.react-flow__node.selectable:focus {
    border-color: #d9d9d9;
}

.react-flow__node.selectable:hover,
.react-flow__node.draggable:hover {
    border-color: var(--xy-theme-hover);
    box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node.selectable.selected {
    border-color: black;
    box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node-LabeledGroupNode {
    padding: 0;
    background-color: rgba(207, 182, 255, 0.4);
    color: #704af2;
}

.react-flow__node-LabeledGroupNode.selectable {
    border-color: #704af2;
}

.react-flow__node-LabeledGroupNode.selectable:hover {
    border-color: var(--xy-theme-hover);
}

.react-flow__node-LabeledGroupNode.selectable.selected {
    border-color: black;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: var(--xy-theme-edge-hover);
}

/* Edge Markers */
.react-flow__arrowhead polyline {
    fill: #0039ad !important;
    stroke: #0039ad !important;
}

.react-flow__handle {
    background-color: var(--xy-handle-background-color-default);
    width: 10px;
    height: 10px;
}

.react-flow__node .react-flow__handle.connectionindicator,
.react-flow__node .react-flow__handle {
    background-color: #cb458d;
    border-color: white;
    width: 10px;
    height: 10px;
}

.react-flow__node-LabeledGroupNode .react-flow__handle.connectionindicator,
.react-flow__node-LabeledGroupNode .react-flow__handle {
    background-color: #704af2;
    border-color: white;
    width: 14px;
    height: 14px;
}

.react-flow__handle.connectionindicator:hover {
    pointer-events: all;
    border-color: var(--xy-theme-edge-hover);
    background-color: white;
}

.react-flow__node .react-flow__handle.connectionindicator:hover {
    background-color: white;
    border-color: #cb458d;
}

.react-flow__node-LabeledGroupNode
    .react-flow__handle.connectionindicator:hover {
    background-color: white;
    border-color: #704af2;
}

.react-flow__handle.connectionindicator:focus,
.react-flow__handle.connectingfrom,
.react-flow__handle.connectingto {
    border-color: white;
}

.react-flow__node-resizer {
    border-radius: 0;
    border: none;
}

.react-flow__resize-control.handle {
    background-color: #ffffff;
    border-color: var(--xy-handle-border-color-default);
    border-radius: 0;
    width: 5px;
    height: 5px;
}
